<app-item [items]="movies"></app-item>
<h1> <a routerLink="/movies/upcoming">Upcoming Movies <mat-icon class="red">arrow_forward_ios</mat-icon></a></h1>
<app-movies-categories [films]="movies"></app-movies-categories>
<h1><a routerLink="/tv-shows"> Most Popular Tv Shows <mat-icon class="red">arrow_forward_ios</mat-icon></a></h1>
<app-movies-categories [films]="tvShows"></app-movies-categories>
<h1><a routerLink="/movies/popular">Movies In Theaters <mat-icon class="red">arrow_forward_ios</mat-icon></a> </h1>
<app-movies-categories [films]="latestMovies"></app-movies-categories>
