 h1  {
    margin-left: 10%;
    font-size: 2rem;
    margin-top: 3%;
    
    a {
        text-decoration: none;
        color: red;
        display: flex;
    align-items: center;
        .red{
            color: red;
            font-size: 2rem;
        }
    }
    
}