
.dashboard-card {
  height: 10rem;
  width: 7rem;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 27rem;
  align-items: center;
}

  .mat-list::-webkit-scrollbar {
  width: auto;
  height: 10px;
  background-color: black;
}
  .mat-list::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10%;
  width: 30px;
}



.mat-list-base .mat-list-item.first-item  img {
    box-shadow: none;
  }
  .mat-list-base .mat-list-item.first-item:hover {
    img {
      box-shadow: 20px 20px rgba(0, 0, 0, 0.7);
    }
  }

.mat-list-base .mat-list-item {
  padding: 0 1rem;
  height: 12rem;
  width: 8rem; 
  transform: rotate3d(0.2, -1, 0, 27deg);
  transition: all 150ms ease-in 200ms;
  img {
    border: solid white 3px;
    border-radius: 3%;
    box-shadow: -15px -5px rgba(0, 0, 0, 0.7);
  
  }

  &:hover{
    transform: rotate3d(0, 0, 0, 0deg);
    transform: scale(1.4 , 1.4);
    z-index: 10000;
    transition: all 150ms ease-in 200ms;
    cursor: pointer;
    img {
      box-shadow: -20px 20px rgba(0, 0, 0, 0.7);
    }
  }
  
}


    