form {
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 3%;
    align-items: center;
}

.search {
    color: black;
}

.button {
    background-color: black;
    margin-left: 3%;
}