<div [ngSwitch]="site">
    <div *ngSwitchCase="'YouTube'">
           <iframe [src]="'https://www.youtube.com/embed/' + key | safe" 
       frameborder="0"
       width="350"
       height="250"
       allow=" autoplay; encrypted-media"
       >
       </iframe>
       </div>
       <div *ngSwitchCase = "'Vimeo'">
           <iframe src="https://player.vimeo.com/video/712599017?h=e5b754d230" width="640" height="360" frameborder="0" 
       allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
       </div>
   </div>
      
   