
.mat-dialog-container {
    background-color: red;
}
.search {
    color: black;
    width: 25rem;
}

.button {
    background-color: black;
    margin-left: 3%;
    color: red;
}
mat-dialog-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: hidden;
}