<div class="grid-container">
 
  <mat-grid-list cols="1" rowHeight='{{row}}'>
     <ng-container *ngFor="let item of items; let i = index">
       <mat-grid-tile *ngIf="i == currentIndex"  [colspan]="1" [rowspan]="1" @fade> 
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title *ngIf="!isBanner">
            <a [routerLink]="'/movie/ '+ item.id"> <h1> {{item.title}}</h1></a>
           <div class="rating">            
             <span>Released: {{item.release_date | date: 'yyyy'}}</span>
             <span ><mat-icon>star</mat-icon></span>
              <span> {{item.vote_average}} / 10</span>
              <span>Votes: {{item.vote_count}}</span>
  
           </div>
            
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="!isBanner">{{ item.overview}}</div>
          <img mat-card-image src="{{imgPath+item.backdrop_path}}">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
     </ng-container>
    
  </mat-grid-list>
</div>
