.container {
    height: 15rem;
    max-width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
    
}

mat-chip {
    background-color: red;
}