<mat-tab-group 
dynamicHeight 
class="mat-elevation-z4"
[selectedIndex]="0"
>
  <mat-tab label="tab1">
    
    <ng-template mat-tab-label >
     
    <h2 >Popular Movies <a id="top"></a></h2>
   </ng-template>
<div class="grid-container" >
  <mat-toolbar class="pagination">
    <mat-toolbar-row>
      <a mat-icon-button (click)="previousPage('popular')" *ngIf="currPage>1"><mat-icon>arrow_back_ios</mat-icon>Previous</a>
      <mat-form-field appearance="fill">
        <mat-label>Enter page number:</mat-label>
        <input
      matInput
      type="number" 
      name="pageInput" #input id="" [value]="input.value" (keyup)="onKey(input.value)">
      </mat-form-field>
      <a mat-icon-button (click)="getValue(values, 'popular')">
        Go to page<mat-icon>arrow_forward_ios</mat-icon> 
      </a>
      <a mat-icon-button (click)="goToPage('popular')">Next<mat-icon>arrow_forward_ios</mat-icon></a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <p>Current page:{{currPage}} | Total pages: {{totPages}}</p>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-image src="{{imgPath+card.backdrop_path}}">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>    
 
    </div>
    <mat-toolbar class="pagination" >
      <a mat-icon-button (click)="navigateToSection('top')">Back to top <mat-icon>arrow_upward</mat-icon></a>
    </mat-toolbar>
  </mat-tab>
  <mat-tab label="Tab2">
    <ng-template mat-tab-label >
    <h2>Top Rated Movies <a id="top2"></a></h2>
   </ng-template>
<div class="grid-container">
  <mat-toolbar class="pagination">
    <mat-toolbar-row>
      <a mat-icon-button (click)="previousPage('top_rated')" *ngIf="currPage>1">Previous<mat-icon>arrow_back_ios</mat-icon></a>
    <mat-form-field appearance="fill">
        <mat-label>Enter page number:</mat-label>
        <input 
        matInput
        type="number" 
        name="pageInput2" 
        #input2 id="" 
        [value]="input2.value" 
        (keyup)="onKey(input2.value)">
      </mat-form-field>
      <a mat-icon-button (click)="getValue(values, 'top_rated')"> 
        Go to page<mat-icon>arrow_forward_ios</mat-icon> </a> 
        <a mat-icon-button (click)="goToPage('top_rated')">Next<mat-icon>arrow_forward_ios</mat-icon></a> 
    </mat-toolbar-row>
    <mat-toolbar-row>
      <p>Current page: {{currPage}} | Total pages: {{totPages}}</p>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of topRated" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-image src="{{imgPath+card.backdrop_path}}">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-toolbar class="pagination">
      <a mat-icon-button (click)="navigateToSection('top2')">Back to top <mat-icon>arrow_upward</mat-icon></a>
</mat-toolbar>
  </mat-tab>
  <mat-tab label="Tab3">
    <ng-template mat-tab-label >
    <h2>Upcoming Movies<a id="top3"></a></h2>
   </ng-template>
<div class="grid-container">
  <mat-toolbar class="pagination">
    <mat-toolbar-row>
      <a mat-icon-button (click)="previousPage('now_playing')" *ngIf="currPage>1">Previous<mat-icon>arrow_back_ios</mat-icon></a>
    <mat-form-field appearance="fill">
        <mat-label>Enter page number:</mat-label>
        <input 
        matInput
        type="number" 
        name="pageInput3" 
        #input3 id="" 
        [value]="input3.value" 
        (keyup)="onKey(input3.value)">
      </mat-form-field>
      <a mat-icon-button (click)="getValue(values, 'now_playing')">
        Go to page<mat-icon>arrow_forward_ios</mat-icon> </a>  
      
      <a mat-icon-button (click)="goToPage('now_playing')">Next<mat-icon>arrow_forward_ios</mat-icon></a> 
    </mat-toolbar-row>
    <mat-divider></mat-divider>
    <mat-toolbar-row>
      <p>Current page: {{currPage}} | Total pages: {{totPages}}</p>
    </mat-toolbar-row>
    
  </mat-toolbar>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of upcoming" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-image src="{{imgPath+card.backdrop_path}}">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-toolbar class="pagination">
 
      <a mat-icon-button (click)="navigateToSection('top3')">Back to top <mat-icon>arrow_upward</mat-icon></a>
</mat-toolbar>
  </mat-tab>
</mat-tab-group>
