<div class="grid-container">
    <mat-toolbar class="pagination" id="top">
    <mat-toolbar-row>
      <a mat-icon-button (click)="previousPage('top_rated')" *ngIf="currPage>1">Previous<mat-icon>arrow_back_ios</mat-icon></a>
    <mat-form-field appearance="fill">
        <mat-label>Enter page number:</mat-label>
        <input 
        matInput
        type="number" 
        name="pageInput3" 
        #input3 id="" 
        [value]="input3.value" 
        (keyup)="onKey(input3.value)">
      </mat-form-field>
      <a mat-icon-button (click)="getValue(values, 'top_rated')">
        Go to page<mat-icon>arrow_forward_ios</mat-icon> </a>  
      
      <a mat-icon-button (click)="goToPage('top_rated')">Next<mat-icon>arrow_forward_ios</mat-icon></a> 
    </mat-toolbar-row>

    <mat-toolbar-row>
      <p>Current page: {{currPage}} | Total pages: {{totPages}}</p>
    </mat-toolbar-row>
    
    </mat-toolbar>
    <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of upcoming" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button [routerLink]="'/tv/ '+ card.id" mat-menu-item>Details</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-image src="{{imgPath+card.poster_path}}">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
    </div>
    <mat-toolbar class="pagination">
    
      <a mat-icon-button (click)="navigateToSection('top')">Back to top <mat-icon>arrow_upward</mat-icon></a>
    </mat-toolbar>